html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'font', 'sans-serif';
}

.game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1200px;
  padding: 40px 15px;
  margin: 0 auto;
  gap: 20px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  font-size: 0;
  border-radius: 20px;
  cursor: pointer;
  background-color: blue;
  transition: background-color .3s ease-in-out;
}

.card:hover {
  background-color: aquamarine;
}

.open {
  font-size: 36px;
  background-color: orange;
  cursor: default;
}

.open:hover {
  background-color: orange;
}

.success {
  font-size: 36px;
  background-color: green;
  cursor: default;
}

.success:hover {
  background-color: green;
}
