.footer {
  padding: 50px 0;
}

.footer__container {
  justify-content: space-between;
}

.footer__text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 138%;
  text-align: right;
  color: var(--black);
}

@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .footer__text {
    text-align: center;
  }
}

@media (max-width: 374px) {
  .footer__text {
    font-size: 12px;
  }
}
