body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

div {
  margin-bottom: 20px;
}

table {
  margin-bottom: 10px;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
  background-color: #f4f4f4;
}

.error {
  margin-bottom: 10px;
  color: red;
}

input,
select {
  margin-right: 10px;
  padding: 5px;
}

button {
  padding: 5px 10px;
}
