@font-face {
  font-family: "Lato";
  src: url(../../fonts/Lato-Light.woff2) format('woff2'),
    url(../../fonts/Lato-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url(../../fonts/Lato-Regular.woff2) format('woff2'),
    url(../../fonts/Lato-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url(../../fonts/Lato-Bold.woff2) format('woff2'),
    url(../../fonts/Lato-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url(../../fonts/Merriweather_120pt-Black.woff2) format('woff2'),
    url(../../fonts/Merriweather_120pt-Black.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url(../../fonts/Merriweather_120pt-Bold.woff2) format('woff2'),
    url(../../fonts/Merriweather_120pt-Bold.woff) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
