body {
  font-family: 'Roboto', sans-serif;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

#open-modal {
  background-color: #00ca7d;
  color: #fff;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

/* Анимация появления модального окна */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal.active {
  display: flex;
}

.modal-content {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: slideDown 0.3s ease-in-out;
}

/* Анимация для плавного появления контента */
@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.close-btn:hover {
  color: #ff0000;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  color: #00bb73;
}

#feedback-form {
  display: flex;
  flex-direction: column;
}

#feedback-form input,
#feedback-form textarea {
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#feedback-form input:focus,
#feedback-form textarea:focus {
  border-color: #00ca7d;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

#feedback-form textarea {
  resize: vertical;
  min-height: 100px;
}

#feedback-form label input {
  margin-bottom: 0;
}

.send {
  background-color: #00bb73;
  color: #fff;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.error,
.success {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  display: none;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

@media (max-width: 600px) {
  .modal-content {
    padding: 20px 25px;
  }

  #open-modal {
    width: 90%;
    font-size: 14px;
    padding: 12px 20px;
  }
}
