*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

body {
  line-height: 1;
  font-size: 14px;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  padding: 45px 0 45px 0;
  min-height: 100%;
}

.title {
  margin: 0 0 30px 10px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

@media(min-width: 320px) {
  .title {
    font-size: 28px;
  }
}

.image-slider {
  text-align: center;
  overflow: hidden;
}

.image-slider__image {
  text-align: center;
}

.image-slider__image img {
  width: 300px;
  height: 200px;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  color: #fff;
  font-size: 70px;
}

.swiper-button-prev {
  position: absolute;
  top: 202px;
}

.swiper-button-next {
  position: absolute;
  top: 202px;
}

.image-slider .swiper-pagination {
  top: 313px;
}

.image-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #fff;
}
