
html {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section-title {
  margin: 0;
  font-family: "Merriweather";
  font-weight: 700;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 374px) {
  .container {
    padding: 0 10px;
  }
}

:root {
	--text-color: #222;
	--accent: #005fa3;
	--white: #fff;
  --black: #000;

  --font-family: "Lato", sans-serif;
  --second-family: "Merriweather", sans-serif;
}
